*{
    margin: 0;
    padding: 0;
}
.banner{
    position: relative;
    .letra{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        justify-content: center;
        margin-top: 296px;
        position: absolute;
        color: #ffff;
        text-align: center;
        h2{
            font-size: 56px;
            width: 100%;
            font-size: 98px;
        }
        p{
            font-size: 24px;
        }
    }
    
}
.logo{
    width: 15%;
    position: absolute;
    margin-top: 10px;
    cursor: pointer;
}
.banner-{
    width: 100%;
}

/*Seccion de aruta de los pedidos*/
.ruta{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 40px;

}
.ruta1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 190px;
}
.barra{
    padding: 0 11%;
    width: 75%;
    height: 20px;
    background-color: #FFEBEB;
    border-radius: 10px;
}
.nombre{
    font-size: 32px;
    font-weight: bold;
}
.precio{
    font-size: 28px;
    font-weight: 700;
}
.PedidosReciente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.targetas{
    margin-top: 40px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr;
    background-color: #fcf0f0; 
    width: 1870px;
    height: 190px;
    border-radius: 20px;
    font-size: 24px;
    align-items: center;
}
.targetas img{
    margin-left: 20px;
}

.Entregado, .EnCamino, .Preparado{
    width: 260px;
    height: 60px;
    border: none;
    font-size: 28px;
    font-weight: 600;
    border-radius: 10px;
}
.let{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Entregado{
    background-color: #0B6000;
    color: #ffff;
    cursor: pointer;
}
.EnCamino{
    background-color: #C57000;
    color: #ffff;
    cursor: pointer;
}
.Preparado{
    background-color: #A32D2D;
    color: #ffff;
    cursor: pointer;    
}






/*Footer de la pagina*/
footer{
    margin-top: 50px;
    background-color: #A32D2D;
    width: 100%;
    height: 220px;
    color: white;
    box-sizing: border-box;
}

/* Parte principal del footer */
.footer_contenido{
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    padding: 18px 60px 0 60px;
    box-sizing: border-box;
}

footer p{
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

/* Columna izquierda */
.foot img{
    width: 230px;
    margin-top: 6px;
}

/* Columna centro */
.canales{
    display: flex;
    flex-direction: column;
}

.canales > p{
    width: 100%;
    margin-left: -10px; 
}

.ico{
    display: flex;
    align-items: center;
    flex-wrap: wrap; /*iconos bajan si no caben*/
    gap: 28px;
    margin-top: 14px;
}

.ico img{
    width: 50px;
    height: 50px;
}

.url_quien_som{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.url_quien_som img{
    width: 28px;
    height: 28px;
}

/* Columna derecha */
.Tiendas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tiendas img{
    width: 75px;
    height: 75px;
    object-fit: contain; /*mantiene la imagen original si salirse de caja*/
    margin-top: 25px;
}

/* Barra inferior */
.footer_links{
    height: auto; /*Calcula la altura automaticamente*/
    margin-top: -30px;
    height: 35px; 
    background-color: #e8bcbc;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 8px 8px;
    box-sizing: border-box;
}

.footer_links a {
    color: #A32D2D;
    text-decoration: none;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
}