*{
    margin: 0;
    padding: 0;
}
.banner{
    position: relative;
}
.letra{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 296px;
    position: absolute;
    color: #ffff;
    text-align: center;
    h2{
        width: 100%;
        font-size: 98px;
    }
    p{
        font-size: 24px;
    }
}
.logo{
    width: 15%;
    position: absolute;
    margin-top: 10px;
    cursor: pointer;
}
.banner-{
    width: 100%;
}

/*Seccion de aruta de los pedidos*/
.ruta{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 40px;

}
.ruta1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 190px;
}
.barra{
    padding: 0 11%;
    width: 75%;
    height: 20px;
    background-color: #FFEBEB;
    border-radius: 10px;
}
.nombre{
    font-size: 32px;
    font-weight: bold;
}
.precio{
    font-size: 28px;
    font-weight: 700;
}
.PedidosReciente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.targetas{
    margin-top: 40px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr;
    background-color: #fcf0f0; 
    width: 1870px;
    height: 190px;
    border-radius: 20px;
    font-size: 24px;
    align-items: center;
}
.targetas img{
    margin-left: 20px;
}

.Entregado, .EnCamino, .Preparado{
    width: 260px;
    height: 60px;
    border: none;
    font-size: 28px;
    font-weight: 600;
    border-radius: 10px;
}
.let{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Entregado{
    background-color: #0B6000;
    color: #ffff;
    cursor: pointer;
}
.EnCamino{
    background-color: #C57000;
    color: #ffff;
    cursor: pointer;
}
.Preparado{
    background-color: #A32D2D;
    color: #ffff;
    cursor: pointer;    
}
/*Footer de la pagina*/
footer{
    background-color: #A32D2D;
    width: 100%;
    height: 220px;
    color: white;
    box-sizing: border-box;
}

/* Parte principal del footer */
.footer_contenido{
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    padding: 18px 60px 0 60px;
    box-sizing: border-box;
}

footer p{
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

/* Columna izquierda */
.foot img{
    width: 230px;
    margin-top: 6px;
}

/* Columna centro */
.canales{
    display: flex;
    flex-direction: column;
}

.canales > p{
    width: 100%;
    margin-left: -10px; 
}

.ico{
    display: flex;
    align-items: center;
    flex-wrap: wrap; /*iconos bajan si no caben*/
    gap: 28px;
    margin-top: 14px;
}

.ico img{
    width: 50px;
    height: 50px;
}

.url_quien_som{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.url_quien_som img{
    width: 28px;
    height: 28px;
}

/* Columna derecha */
.Tiendas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tiendas img{
    width: 75px;
    height: 75px;
    object-fit: contain; /*mantiene la imagen original si salirse de caja*/
    margin-top: 25px;
}

/* Barra inferior */
.footer_links{
    height: auto; /*Calcula la altura automaticamente*/
    margin-top: -30px;
    height: 35px; 
    background-color: #e8bcbc;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 8px 8px;
    box-sizing: border-box;
}

.footer_links a {
    color: #A32D2D;
    text-decoration: none;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
}

/*Tablets*/
@media (max-width: 768px)
{

    .letra{
        margin-top: 100px;
        h2{
            font-size: 40px;
        }
        p{
            font-size: 24px;
        }
    }
    .ruta1 img{
        width: 40px;
    }
    .ruta1{
        margin-left: 1px;
    }
    .barra{
        margin-top: -34px;
        height: 10px;
    }
    .rt{
        text-align: center;
    }
    .targetas{
        display: grid;
        grid-template-columns: 1fr 4fr 2fr;
        width: 95%;
        height: 180px; 
        font-size: 18px;
        gap: 50px;
        img{
            width: 60px;
        }
    }
    .nombre, .precio{font-size: 24px;}
    .Entregado, .EnCamino, .Preparado{
        
        width: 120px;
        height: 50px;
        font-size: 20px;
    }

    .footer_contenido{
        margin-top: 60px;
    }
    .foot {
        p{
            font-size: 15px;
        }
        img{
            width: 50%;
        }
        
    }
    .url_quien_som img{ 
        width: 15px;
        height: 15px;
    }
    .url_quien_som{
        margin-top: 12px;
    }
    .canales img{
        width: 30px;
        height: 30px;
    }
    .canales{
        p{
            font-size: 15px;
        }
    }
    .ico{
        gap: 10px;
    }
    /**/
    footer{
        height: 200px;
    }    
    .Tiendas{
        p{
            font-size: 15px;
        }
        img{
            width: 40px;
            height: 40px;
        }
    }   
}

/*Resposibe*/
@media (max-width: 375px)
{
    .banner-{
        width: 100%;
        height: 200px;
    }
    .logo{
        width: 90px;
    }
    .letra{
        margin-top: 70px;
        h2{
            font-size: 17px;
        }
        p{
            font-size: 9px;
        }
    }
    .let{
        gap: 10px;
    }
    .rt img{
        width: 30px;
    }
    .ruta1{
        margin-left: -40px;
        font-size: 10px;
        
    }
    .targetas{
        width: 90%;
        height: 115px;
        gap: 15px;
    }
    .targetas p{
        font-size: 15px;
    }
    .targetas img{
        width: 20px;
    }
    .Entregado, .EnCamino, .Preparado{
        width: 60px;
        height: 30px;
        font-size: 10px;
        border-radius: 7px;        
    }
    .barra{
        margin-top: -30px;
        height: 5px;
        width: 290px;
        margin-left: -32px;
    }
    .nombre{
        font-size: 15px;
    }
    .precio{
        font-size: 18px;
    }
    .let{
        font-size: 15px;
    }
    /*Footer de android*/
    .naveg_page a{
        font-size: 10px;
        height: 5px;
    }
    .naveg_page{
        margin-top: -22px;
    }
    .foot{
        padding: 0 40px;
        margin-left: -80px;    
    }
    .foot img{
        width: 80px;
        margin-left: -10px;
    }
    .ico p, .foot p, .Tiendas p, .canales p{
        font-size: 10px;
    }
    .ico{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .Tiendas{       
        margin-left: 20px;
        width: 80px;
        justify-content: center;
    }
    .Tiendas img{
        width: 30px;
    }
    .ico img{
        width: 30px;    
        height: 30px;
        margin-left: -14px;
    }
    .url_quien_som img{
        width: 20px;
        height: 20px;
    }
    .url_quien_som{
        width: 120px;
        margin-left: -15px;
    }.footer_links{
        gap: 20px;
        justify-content: center;
        a{
            font-size: 10px;
        }
    }
}