*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #3A1808;
}
/*Este es el head o cabezera de la pagina*/

header{
    position: fixed;
    width: 100%;
}

body{
    background-color: #FFF8F2;      
}

.cabezera{
    background-color: #A32D2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    font-size: 24px;
    gap: 25px;
    box-sizing: border-box; 
    
}
.logo_oficial img{
    width: 200px;
    max-width: 100%;
    margin-top: 25px;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer; /*le dara interaction con el cursor a los iconos de amburguesa y equis */
    display: none; /*desaparecera y solo aparecera cuando se ajuste al tamaño*/
    transition: 0.4s;/*Ayuda a tener una animacion mas suave y no tan tosca*/
}

.mostrar-menu{
    order: 1;/*le da el orden para que aparesca detras de los demas elementos*/
}
#check{
    display: none; /*Es para que la caja de opcion "check" no aparesca por ahora*/
}

/*Navegador de la pagina*/

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.naveg_page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.naveg_page a{
    color: #FFFFFF;
    text-decoration: none;
    width: 250px;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.2 ease, color 0.2 ease;
}

.naveg_page a:hover{
    background-color: #FFE8E8;
    color: #A32D2D;
}

.carro img{
    width: 52px;
    max-width: 100%;
}

/*Boton de login de la pagina*/
.carrito_loggin{
    background-color: #FFFFFF;
    color: #A32D2D;
    display: flex;
    width: 210px;
    height: 46px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 10px;
}

.carrito_loggin a{
    color: #A32D2D;
    text-decoration: none;
    display: flex;
    
}

.carro{
    cursor: pointer;
}

/*Section Beneficios preferenciales*/
/*Texto Titulo*/
.banner_prefe img{
    margin-top: 100px;
    width: 100%;
}
.texto_benef{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A1808;
    gap: 23px;
    h2{
        font-size: 32px;
        font-weight: 700;
    }
}
.linea{
    background-color: #3A1808;
    width: 480px;
    height: 1px;
}
.targeta_beneficios img{
    width: 318px;
    height: 320px;
}

.targeta_beneficios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
}

/*Seccion de ofertas*/
.texto_ofert{
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3A1808;
    gap: 23px;
    h2{
        font-size: 32px;
        font-weight: 700;
    }
}
.linea_of{
    background-color: #3A1808;
    width: 480px;
    height: 1px;
}

.parraf_ofert{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

/* seccion de productos en ofertas */
.targeta_producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 110px;
    margin-left: 110px;
}

.targeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #3A1808;
    gap: 40px;
    font-weight: 600;
    width: 390px;
    height: 470px;
    border: 2px solid #A32D2D;
    border-radius: 4%;
    button{
        background: linear-gradient(#9C0000, #E8005D);
        border: none;
        color: #FFFFFF;
        width: 100%;
        border-radius: 10px;
        height: 80px;
        border: 20px;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
    }
    p{
        margin-left: 10px;
        font-size: 24px;
    }
}
.raya{
    width: 100px;
    height: 2px;
    background-color: black;
    transform: rotate(175deg);
    margin-top: -15px;
}
.precio_desc{
    margin-left: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.descuentos{
    color: #717171;
}

.targeta img{
    max-width: 40%; /*No deja que la imagen sea mas grade que su targeta*/
    height: auto; /*mantiene el tamaños original de la imagen*/
    display: block; /*convierte la imagen en un elemento de bloque*/
    margin: 0 auto; /*Centra horixontalmente la imagen*/
    margin-top: 20px; 
    object-fit: contain; /*Hace que la imgen completa se vea dentro de la targeta*/
}


/*Footer de la pagina*/
footer{
    margin-top: 50px;
    background-color: #A32D2D;
    width: 100%;
    height: 220px;
    color: white;
    box-sizing: border-box;
}

/* Parte principal del footer */
.footer_contenido{
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    padding: 18px 60px 0 60px;
    box-sizing: border-box;
}

footer p{
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

/* Columna izquierda */
.foot img{
    width: 230px;
    margin-top: 6px;
}

/* Columna centro */
.canales{
    display: flex;
    flex-direction: column;
}

.canales > p{
    width: 100%;
    margin-left: -10px; 
}

.ico{
    display: flex;
    align-items: center;
    flex-wrap: wrap; /*iconos bajan si no caben*/
    gap: 28px;
    margin-top: 14px;
}

.ico img{
    width: 50px;
    height: 50px;
}

.url_quien_som{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.url_quien_som img{
    width: 28px;
    height: 28px;
}

/* Columna derecha */
.Tiendas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tiendas img{
    width: 75px;
    height: 75px;
    object-fit: contain; /*mantiene la imagen original si salirse de caja*/
    margin-top: 25px;
}

/* Barra inferior */
.footer_links{
    height: auto; /*Calcula la altura automaticamente*/
    margin-top: -30px;
    height: 35px; 
    background-color: #e8bcbc;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 8px 8px;
    box-sizing: border-box;
}

.footer_links a {
    color: #A32D2D;
    text-decoration: none;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
}