*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*Este es el head o cabezera de la pagina*/

header{
    position: fixed;
    width: 100%;
}

body{
    background-color: #FFF8F2;      
}

.cabezera{
    background-color: #A32D2D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    font-size: 24px;
    gap: 25px;
    box-sizing: border-box; 
    
}
.logo_oficial img{
    width: 200px;
    max-width: 100%;
    margin-top: 25px;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer; /*le dara interaction con el cursor a los iconos de amburguesa y equis */
    display: none; /*desaparecera y solo aparecera cuando se ajuste al tamaño*/
    transition: 0.4s;/*Ayuda a tener una animacion mas suave y no tan tosca*/
}

.mostrar-menu{
    order: 1;/*le da el orden para que aparesca detras de los demas elementos*/
}
#check{
    display: none; /*Es para que la caja de opcion "check" no aparesca por ahora*/
}

/*Navegador de la pagina*/

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.naveg_page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.naveg_page a{
    color: #FFFFFF;
    text-decoration: none;
    width: 250px;
    padding: 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: background-color 0.2 ease, color 0.2 ease;
}

.naveg_page a:hover{
    background-color: #FFE8E8;
    color: #A32D2D;
}

.carro img{
    width: 52px;
    max-width: 100%;
}

/*Boton de login de la pagina*/
.carrito_loggin{
    background-color: #FFFFFF;
    color: #A32D2D;
    display: flex;
    width: 210px;
    height: 46px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border-radius: 10px;
}

.carrito_loggin a{
    color: #A32D2D;
    text-decoration: none;
    display: flex;
    
}

.carro{
    cursor: pointer;
}

/*Seccion de banner*/
.banner img{
    width: 100%;
}
.banner{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    font-size: 32px;
    text-align: center;
    gap: 20px;
}

/*Seccion*/

.targetas-{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    position: relative;   
}
.texto{
    display: flex;
    flex-direction: column;
    margin-top: -320px;
    margin-left: 15px;
    position: absolute;
    gap: 100px;
    color: #FFFFFF;
    h3{
        font-size: 32px;
        text-align: center;
    }
    p{
        font-size: 28px;
        width: 350px;
        text-align: center;
    }
}
.Mision_Vision img{
    width: 100%;
}
.Mision_Vision{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-top: 50px;
    
}

.ubicacion_Tiends{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.btn_visit{
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    width: 313px;
    height: 98px;
    border: none;
    border-radius: 30px;
    font-size: 28px;
    font-weight: 600;
    background-color: #FFD3B3;
    cursor: pointer;
}
.btn_visit img{
    width: 50px;
    height: 60px;
}
.linea{
    width: 720px;
    height: 2px;
    background-color: #FFBA89;
}
/*Footer de la pagina*/
footer{
    background-color: #A32D2D;
    width: 100%;
    height: 220px;
    color: white;
    box-sizing: border-box;
}

/* Parte principal del footer */
.footer_contenido{
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    padding: 18px 60px 0 60px;
    box-sizing: border-box;
}

footer p{
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

/* Columna izquierda */
.foot img{
    width: 230px;
    margin-top: 6px;
}

/* Columna centro */
.canales{
    display: flex;
    flex-direction: column;
}

.canales > p{
    width: 100%;
    margin-left: -10px; 
}

.ico{
    display: flex;
    align-items: center;
    flex-wrap: wrap; /*iconos bajan si no caben*/
    gap: 28px;
    margin-top: 14px;
}

.ico img{
    width: 50px;
    height: 50px;
}

.url_quien_som{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.url_quien_som img{
    width: 28px;
    height: 28px;
}

/* Columna derecha */
.Tiendas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Tiendas img{
    width: 75px;
    height: 75px;
    object-fit: contain; /*mantiene la imagen original si salirse de caja*/
    margin-top: 25px;
}

/* Barra inferior */
.footer_links{
    height: auto; /*Calcula la altura automaticamente*/
    margin-top: -30px;
    height: 35px; 
    background-color: #e8bcbc;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 8px 8px;
    box-sizing: border-box;
}

.footer_links a {
    color: #A32D2D;
    text-decoration: none;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 700;
}